/*gives the whole body a green background */

body {
  background-color: #022F40 !important;
}

.inc-white-color{
  color: #FFFFF3;
}


/*rounded border with black text and background color inherited from body */
.inc-btn {
  background-color: inherit;
  border: 2px solid #38AECC;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: whitesmoke;
}


/*makes the button black with green text when you hover on it */
.inc-btn:hover {
  background-color: #38AECC;
  color: whitesmoke;
}

/*smaller button with same properties*/
.inc2-btn {
  padding: 5px;
  background-color: #38AECC;
  border: 2px solid #38AECC;
  border-radius: 5px;
  color: whitesmoke;
  width: 25%;
}

.inc2-btn:hover {
  background-color: whitesmoke;
  color: #38AECC;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: relative; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 100 !important;
  right: 100 !important;
  top: 0;
  width: 100% !important; /* Full width */
  height: 100% !important; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #FFFFF3!important;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50% !important; /* Could be more or less, depending on screen size */
}

.savebtn{
  padding: 5px;
  background-color: #38AECC;
  border: 2px solid #38AECC;
  border-radius: 5px;
  color: whitesmoke;
  width: 25%;

}

.closebtn{
  padding: 5px;
  background-color: inherit;
  border: 2px solid #38AECC;
  border-radius: 5px;
  color: black;
  width: 25%;
}

.editbtn{
  width: 30%;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  background-color: #38AECC;
  color: whitesmoke;


}

.deletebtn {
  width: 30%;
  padding: 5px;
  border: 0; 
  border-radius: 5px; 
  background-color: #bf1400;
  color: whitesmoke;
}

input[type="date"] {
  position: relative;
}

input[type="date"]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900; 
  content: "\f073";
  color: #555;
  padding: 0 5px;
}

input[type="date"]:hover:after {
  color: #bf1400;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

input[type="date"]::-webkit-inner-spin-button {
  z-index: 1;
}

input[type="date"]::-webkit-clear-button {
   z-index: 1;
}